{% extends "layout.html" %}

{% block content %}
<!-- <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"> -->
<h2>Determine the T+1 close price based on features of SPY at time T.</h2>
<p><h3>Submissions can range from May 1993 through present-day.</h3></p><hr>
<form method=post>
    <dl>
        <p>
            <h3>Target Date (T)</h3> 
          For what date (T) would you like to predict the following day's close price?<br/><br />
          <br> 
          E-mail Address:<br>
            {{form.email}}
          <br> 
          Age Bracket:<br>
            {{form.Age}}
            <br>
        Income Level:<br>
            {{form.income_level}}
            <br>
        Sector Preference: <br>
            {{form.}}
    
        </p>
    </dl>
    <p><input type="submit" value="submit"</p>
 </form>
{% endblock %}