{% extends "layout.html" %}

{% block content %}
<!-- <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"> -->
<h2>Determine the T+1 close price based on features of SPY at time T!</h2>
<p><h3>Default values are for May 7, 2020</h3></p><hr>
<form method=post>
    <dl>
        <p>
            <h3>Target Date (T)</h3> 
          For what date (T) would you like to predict the following day's close price?<br/><br />
          <br> 
          Format: YYYY-MM-DD<br>
            {{form.Date}}
          <br>Note: Avoid weekend dates (prior trading data will be displayed)

        </p>
    </dl>
    <p><input type="submit" value="submit"</p>
 </form>
{% endblock %}