{% extends "layout.html" %}

{% block content %}
<!-- <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"> -->
<h2>Background and Technical Assessment</h2>
<p><h3>Tell us a little bit about yourself and have a gander at the below technical questions.</h3></p><hr>
<form method=post>
    <ul style="list-style: none;">
        <p>
            <h3><strong>About You </strong></h3> <br>
          <!-- For what date (T) would you like to predict the following day's close price?<br/><br />
          <br>  -->
          E-mail Address:<br>
            {{form.email}}
            <br>
          <br> 
          Age Bracket:<br>
            {{form.Age}}
            <br>
        Income Level:<br>
            {{form.income_level}}
            <br>
        Sector Preference: <br>
            {{form.sector_preference}}
            <br>
        Are you a US Citizen? <br>
            {{form.citizenship}}
            <br>
        What is your highest degree of education obtained? <br>
            {{form.education}}
            <br>
        How many years have you been investing? <br>
            {{form.experience_years}}
            <br>
        Please select the following you are a subscriber of? <br>
            {{form.periodicals}}
            <br><br>
        What do you hope to achieve with your investments? <br>
            {{form.aspirations}}
            <br><br>
        Do you have or have you had a brokerage account? <br>
            {{form.brokerage_acct}}
            <br>
        Are you interested in investing today? <br>
            {{form.interested_in_learning}}
            <br>
        Where would you go to obtain financial information on a publicly traded company?<br>
            {{form.fin_info}}
            <br><br>    

           <b> <h4><strong>Technical Assessment</strong></h4></b>
            <br>
        Scenario 1: If a publicly traded company 
        files for Chapter 11 Bankruptcy, in which position would it be preferrable to be in? <br>
            {{form.scenario_1}}
            <br>
        Scenario 2: If you own a put option, do you wish for the underlying asset to rise or fall before the given expiration date? <br>
            {{form.scenario_2}}
            <br>
        Which one of these would you consider the safest asset to hold?<br>
            {{form.safest_asset}}
            <br>
        If the bond prices rise to be sold at a premium, would you expect your interest rate on those bonds to be higher or lower than they were before?<br>
            {{form.bond_prices}}
            <br>
        Would you consider the following portfolio below to be well diversfied: 30% technology sector stock holdings 20% financial sector stock holdings 50% cryptocurrency?<br>
            {{form.port_diversified}}
            <br><br>
            <b> <h4><strong>Risk Profile</strong> </h4></b>
            <br>
        When do you expect to start drawing income? <br>
            {{form.income_drawing}}
            <br>
        What is your expectation for return on this investment? <br>
            {{form.return_expectations}}
            <br>
            Assuming normal market conditions, what would you expect from this investment over time?<br>
            {{form.normal_expectations}}
            <br>
            If your investments were to perform poorly over the next decade, what would you ideally still expect from it?<br>
            {{form.poor_expectations}}
            <br>
            Which of these statements describes your attitude about the next three year's performance of this money?<br>
            {{form.three_yr_attitude}}
            <br>
            Which of these statements describe your attitude about the next few (3) months' performance of this money?<br>
            {{form.three_month_attitude}}
            <br><br>
        </p>
    </ul>
    <p><input type="submit" value="submit"</p>
 </form>
{% endblock %}